# Dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.local
.env.*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Cursor
.cursor/

# Coverage
coverage/

# credential
# doc/credential.txt
.env
credential.md
credential.txt
*.pem
*.key

# Cache
.cache/
.next/